@import url(https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@font-face
{
  font-family: 'Saitamaar';
  src:
    local('Saitamaar')
    url(https://keage.sakura.ne.jp/fonts/Saitamaar.woff2) format('woff2'),
    url(https://keage.sakura.ne.jp/fonts/Saitamaar.woff) format('woff'),
    url(https://keage.sakura.ne.jp/fonts/Saitamaar.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

.textAA,.tunaAA
{
  font-family: 'Saitamaar', 'Nanum Gothic Coding', sans-serif;
  font-size: 16px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-text-size-adjust : none;
  -moz-text-size-adjust : none;
  -ms-text-size-adjust : none;
}
.textAA
{
  background-color: #efefef;
  line-height: 1.125;
}
.tunaAA
{
  background-color: #ffffff;
  line-height: 1.1em;
}

@media all and (max-width: 800px)
{
  .textAA,.tunaAA
  {
    font-size: 11px;
  }
}