@font-face
{
  font-family: 'HeadKasen';
  src:
    local(HeadKasen)
    url(https://da1eth.github.io/AA/HeadKasen.ttf) format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face
{
  font-family: 'Nanum Gothic Coding';
  src:
    local(HeadKasen)
    url(https://da1eth.github.io/AA/NanumGothicCoding.ttf) format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+AC00-D7A3, U+3130-318F;
}

.textAA,.tunaAA
{
  font-family: 'Nanum Gothic Coding', 'HeadKasen';
  font-size: 16px;
  line-height: 1.125em;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
.textAA
{
  background-color: #efefef;
}
.tunaAA
{
  background-color: #ffffff;
}

@media all and (max-width: 800px)
{
  .textAA,.tunaAA
  {
    font-size: 11px;
  }
}