@font-face
{
  font-family: 'Saitamaar';
  src:
    url(https://keage.sakura.ne.jp/fonts/Saitamaar.woff2) format('woff2'),
    url(https://keage.sakura.ne.jp/fonts/Saitamaar.woff) format('woff'),
    url(https://keage.sakura.ne.jp/fonts/Saitamaar.ttf) format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face
{
  font-family: 'Nanum Gothic Coding';
  src: 
    url(https://fonts.gstatic.com/s/nanumgothiccoding/v19/8QIVdjzHisX_8vv59_xMxtPFW4IXROwsy6FZQM9Ynbkmi96slCI8cUV15P99pg.0.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  unicode-range: U+AC00-D7A3;
}

body
{
  font-family: 'Saitamaar','Nanum Gothic Coding',sans-serif;
  font-size: 16px;
  line-height: 1.125;
}

.aa
{
  white-space: nowrap;
  overflow: scroll;
}