@font-face
{
  font-family: 'HeadKasen';
  src:
    url(https://da1eth.github.io/AA/HeadKasen.ttf) format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face
{
  font-family: 'Nanum Gothic Coding';
  src:
    url(https://da1eth.github.io/AA/NanumGothicCoding.ttf) format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+AC00-D7A3, U+3130-318F;
}

body
{
  font-family: 'Nanum Gothic Coding', 'HeadKasen';
  font-size: 16px;
  line-height: 1.125;
}
.aa
{
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}